apiVersion: apps/v1
kind: Deployment
metadata:
  name: midelivery-frontend-v1
  labels:
    app: midelivery-frontend
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: midelivery-frontend
      version: v1
  # Pod template
  template:
    metadata:
      labels:
        app: midelivery-frontend
        version: v1
    spec:
      containers:
        - name: itba-midelivery-frontend
          image: fcatinello/midelivery-frontend
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: midelivery-frontend-svc
  labels:
    app: midelivery-frontend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
      app: midelivery-frontend
